@media screen and (max-width: 1300px) {
  .banner-content {
    padding: 50px 60px;
  }
}

@media screen and (max-width: 1200px) {
  .banner-content {
    padding: 50px 60px;
  }
  .banner-descr {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-title {
    text-align: center;
  }
  .banner-descr {
    margin: 10px auto;
    text-align: center;
  }
  .banner .container {
    border-radius: 0;
  }

  .banner-smoke {
    &-l {
      //transform: scale(0.8);
      //bottom: -100px;
      //left: -252px;
      min-width: 1000px;
    }
    &-r {
      //transform: rotate(-90deg);
      //top: 160px;
      //bottom: auto;
      //right: -230px;
      //min-width: 1000px;
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .banner {
    &-title {
      max-width: 400px;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      line-height: 26px; /* 130% */
    }
    &-descr {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
    }
    &-content {
      padding: 40px 20px;
      min-height: auto;
      gap: 40px;
    }
    &-form {
      min-width: 100%;
      width: 100%;
      gap: 10px;
      input {
        height: 44px;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }
      button {
        height: 44px;
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}