@media screen and (max-width: 1300px) {
  .banner-content {
    padding: 50px 60px;
  }
}

@media screen and (max-width: 1200px) {
  .banner-content {
    padding: 50px 60px;
  }
  .banner-descr {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-title {
    text-align: center;
  }
  .banner-descr {
    margin: 10px auto;
    text-align: center;
  }
}