@media screen and (max-width: 992px) {
  .facts {
    margin-top: 30px;
    padding-top: 30px;
  }
  .facts-wrapper {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
  }
  .facts-item {
    max-width: 100%;
    &.big {
      max-width: 100% ;
    }
    &:nth-child(5n+5){
      grid-column: 1/3;
    }
  }

}