@media screen and (max-width: 1100px) {
  .pay-item {
    margin-bottom: 0 !important;
  }
  .pay-wrapper {
    padding-top: 100px;
  }
}

@media screen and (max-width: 992px) {
  .pay-title {
    max-width: 100%;
    text-align: center;
    position: static;
  }
  .pay-wrapper {
    padding: 0;
    margin-top: 40px;

    flex-direction: column;
    gap: 40px;
  }
  .pay-item {
    width: 100%;
  }
  .pay-item__ico {
    top: auto;
    bottom: -20px;
    left: auto;
    right: 0;
    transform: none;
  }
  .pay-buttons {
    margin-top: 40px;
  }
  .pay-buttons__decorate {
    display: none;
  }
  .pay-buttons__wrapper {
    flex-direction: column;
  }
  .pay-buttons__order {
    order: 0;
  }
  .pay-buttons__pricelist {
    order: 1;
  }
}

@media screen and (max-width: 576px) {
  .pay {
    padding: 30px 0 40px;
  }
  .pay-wrapper {
    margin-top: 30px;
    gap: 20px;
  }
  .pay-item__content {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  .pay-item__ico {
    width: 40px;
    height: 40px;
    bottom: -10px;
  }
  .pay-buttons {
    margin-top: 20px;
  }
  .pay-buttons__wrapper {
    gap: 10px;
    width: 100%;
    a {
      width: 100%;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
      height: 44px;
    }
  }
}