@media screen and (max-width: 1200px) {
  .products-banner {
    padding: 40px 80px;
    &__title span {
      margin-left: 50px;
    }
    &__descr {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .products-points {
    grid-template: auto / 1fr;
  }
  .products-banner {
    flex-direction: column;
  }
  .products-banner__title {
    text-align: center;
    span {
      margin: 0;
    }
  }
}