@media screen and (max-width:1200px) {
  .promo-content__left {
    max-width: 530px;
  }
  .promo-form input {
    width: 180px;
  }
  .promo-plus__item {
    gap: 15px;
  }
  .promo-title {
    width: 585px;
  }
}